---
import HojreTease from "../components/HojreTease.astro";
import VenstreTease from "../components/VenstreTease.astro";
import Quiz from "../components/Quiz.astro";
import "../css/styles.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/tfd8zna.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <main class="grid">
      <div class="hero">
        <h1>BREVKASSEN</h1>
        <img src="public/hjerte.svg" alt="svg" />
      </div>
      <img src="/public/girltalk.svg" alt="svg" class="girltalk_illu" />

      <section class="detsketebareikke scrollbox">
        <h2 class="h2_detsketebareikke section_header">DET SKETE BARE IKKE...</h2>
        <div class="scroll_animation">
          <a href="#bananas"> <VenstreTease header="DET GIK HELT BANANAS" quote="JEG VILLE BARE IMPONERE HAM" /></a>
          <div class="quiz"><Quiz question="I hvilken alder får piger i gennemsnit deres seksuelle debut?" optioncorrect="16" option2="20" option3="14" answercorrect="Ja! Gennemsnitsalderen er 16 -17 år. Det er dog rigtig vigtigt først at gøre det, når man er klar - ellers bliver det en øv oplevelse for alle parter!" answerwrong="Det rigtige svar er 16 -17 år. Det er dog rigtig vigtigt først at gøre det, når man er klar - ellers bliver det en øv oplevelse for alle parter!" /></div>
        </div>
        <div class="scroll_animation">
          <a href="#knak"> <HojreTease header="KNÆK OG BRÆK" quote="HELE KLASSEN BRØD UD I LATTER" /></a>
          <div class="quiz">
            <Quiz question="Hvor mange selfies tager piger i gennemsnit for at få “det rigtige look”?" optioncorrect="14" option2="20" option3="16" answercorrect="Ja! En undersøgelse viser, at piger i gennemsnit tager 14 selfies for at få det pefekte look. Jo flere jo bedre ;)" answerwrong="Det rigtige svar er 14. Jo flere jo bedre ;)" />
          </div>
        </div>
        <div class="scroll_animation">
          <a href="#rundbold"><VenstreTease header="RUNDBOLDS KASTASTROFEN" quote="HAN KIGGEDE NED AF MIG" /></a>
          <div class="quiz">
            <Quiz question="I hvilken alder begynder brysterne gennemsnitligt at vokse hos piger?" optioncorrect="10" option2="17" option3="20" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." />
          </div>
        </div>
      </section>

      <section class="duerikkealene scrollbox">
        <h2 class="h2_detsketebareikke section_header">DU ER IKKE ALENE</h2>
        <div class="scroll_animation">
          <a href="#sandhed"><VenstreTease header="SANDHED OG FØLELSER" quote="DE HAVDE MISFORSTÅET MIN TILBAGHOLDENHED SOM EN AFVISNING" /></a>
          <div class="quiz"><Quiz question="Hvor stor en procentdel har på et tidspunkt følt sig udenfor?" optioncorrect="69" option2="20" option3="35" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." /></div>
        </div>
        <div class="scroll_animation">
          <a href="#korset"><VenstreTease header="MERE END BARE ET KORSET" quote="DET FØLTES SOM OM MIN VERDEN BRØD SAMMEN" /></a>
          <div class="quiz"><Quiz question="Hvor stor en procentdel af piger har oplevet lavt selvværd?" optioncorrect="20" option2="50" option3="40" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." /></div>
        </div>
        <div class="scroll_animation">
          <a href="#rejse"><VenstreTease header="MIN REJSE MOD LYSET" quote="JEG FORSØGTE AT SKJULE MIN SMERTE, MEN MIN INDRE KAMP BLEV MERE OG MERE UUDHOLDELIG" /></a>
          <div class="quiz">
            <Quiz question="Hvor stor en procentdel af kvinder mellem 16 til 24 år har et dårligt mentalthelbred??" optioncorrect="20" option2="41" option3="34" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." />
          </div>
        </div>
      </section>
      <section class="historier scrollbox">
        <div class="txtbox" id="bananas">
          <h2>DET GIK HELT BANANAS</h2>

          <p>
            Hej GirlTalk, her kommer min pinlige historie... Jeg havde snakket med Jonas fra 9. klasse i flere måneder, og hver gang vi var sammen, blev vores kys mere intense. Jeg var stadig jomfru og havde ikke lige fået fortalt ham det. <br />
            <br />

            Jonas begyndte at tale meget om, at en af drengene fra hans klasse havde fået et blowjob af sin kæreste, og han også rigtig gerne ville prøve det. <br />
            <br />
            Jeg var blevet så forelsket i Jonas, at jeg gerne ville imponere ham. Jeg besluttede mig derfor for at øve mig, før jeg gjorde det på ham, så han ikke ville blive skuffet eller ville droppe mig. <br />
            <br />

            Jeg gik ud i køkkenet og tog en banan med ind på mit værelse. Jeg satte mig i sengen, og da jeg var i fuld gang med at øve mig, gik min mor forbi mit værelsesvindue som er ud til haven og så, hvad jeg var i gang med. <br />
            <br />

            Det var det pinligste øjeblik for mig. Jeg følte min mor ville sige til alle hendes veninder, hvad jeg havde gang i, og de nu ville gøre grin af mig. Jeg turde ikke gå ud af mit værelse i flere timer, indtil min mor endelig kom ind og satte sig ned for at snakke med mig om bien og blomsten. <br />
            <br />
            Jeg fik en god snak med min mor, og i dag er vi meget mere åbne over for hinanden. <br />
            <br />

            Jeg fortalte Jonas, at jeg stadig var jomfru, og han var helt okay med det. Han forsikrede mig om, at vi aldrig skulle gøre noget, der gjorde mig usikker eller som jeg ikke havde lyst til. <br />
            <br />

            Venlig hilsen, pigen der fremover aldrig vil føle sig presset til at imponere en dreng. <br />
            <br />
          </p>
        </div>
        <div class="txtbox" id="sandhed">
          <h2>SANDHED OG FØLELSER</h2>

          <p>
            Hej GirlTalk, her kommer min historie jeg gerne vil dele med jer. Da jeg startede i den nye klasse, følte jeg mig som en fremmed i et land, hvor alle andre talte det samme sprog. <br />
            <br />
            Jeg sad alene ved frokostbordet og i klassen, og jeg kunne ikke lade være med at føle, at der blev hvisket om mig i krogene. <br />
            <br />
            Tanken om, at jeg ikke passede ind, voksede sig større og større. <br />
            <br />

            Uger gik, men jeg kunne ikke ryste den følelse af ensomhed af mig. Det virkede som om, at de andre piger allerede havde deres vennekreds, og jeg var bare den nye pige, der var udenfor. <br />
            <br />
            En dag kunne jeg ikke holde det inde længere. Jeg besluttede mig for at tage mod til mig og henvende mig til pigegruppen, som jeg virkelig gerne ville være en del af. Jeg åbnede mit hjerte og fortalte dem ærligt om mine følelser af isolation og frygt for ikke at passe ind. <br />
            <br />
            Til min overraskelse og lettelse reagerede de slet ikke, som jeg havde frygtet. De så chokerede ud, og en af dem sagde: "Vi troede faktisk, at du ikke ville være en del af vores gruppe, så vi lod dig være i fred." <br />
            <br />

            De havde misforstået min tilbageholdenhed som en afvisning. <br />
            <br />
            Pludselig føltes det som om en tung byrde blev løftet fra mine skuldre. De inviterede mig med åbne arme ind i deres gruppe, og vi begyndte at lære hinanden bedre at kende. <br />
            <br />

            Jeg indså, at de var søde, sjove og venlige piger, som jeg virkelig havde brug for at komme tættere på. <br />
            <br />
            Den dag i dag er vi bedste veninder. Det viser, hvor vigtigt det er at turde åbne sig og kommunikere ærligt med andre. Nogle gange er vi mere ens, end vi tror, og det kan være, at de mennesker, vi ønsker at være tæt på, også ønsker at være tæt på os. Det kræver bare mod at tage det første skridt. <br />
            <br />

            Hilsen pigen der har lært at man skal være ærlig omkring sine følelser
          </p>
        </div>

        <div class="txtbox" id="knak">
          <h2>KNÆK OG BRÆK</h2>

          <p>
            Hej GirlTalk, her kommer min pinlige historie Det var den store dag i skolen, hvor vi skulle præsentere vores gruppeprojekt for hele klassen. <br />
            <br />

            Jeg havde arbejdet hårdt på mine slides, og jeg var klar til at imponere. Men som altid, når der er noget vigtigt på spil, sker der altid noget uheldigt. <br />
            <br />

            Jeg stod foran klassen med min gruppe og begyndte at starte præsentationen. Alt gik fint, indtil vi nåede til et af mine slides. Jeg havde lavet et sjovt billede for at bryde isen, men det var ikke det billede, jeg havde i tankerne. <br />
            <br />

            Da jeg klikkede for at vise billedet, poppede i stedet et meget personligt foto op på skærmen. Det var et billede af mig der brækker mig i en hæk i forbindelse med en fest, jeg havde været til weekenden forinden. Hele klassen brød ud i latter, og jeg kunne mærke varmen stige op i mit ansigt. <br />
            <br />

            Jeg forsøgte desperat at klikke væk fra billedet, men min computer var gået i baglås. Mine klassekammerater grinede og pegede. <br />
            <br />

            Til sidst måtte min lærer træde til og hjælpe mig med at få skærmen tilbage til den rigtige præsentation. Jeg fortsatte præsentationen så godt jeg kunne, men jeg var helt rød i hovedet og kunne ikke se mine klassekammerater i øjnene. <br />
            <br />

            Efter præsentationen skyndte jeg mig ud af lokalet og gik hjem med den værste følelse af pinlighed. Det var en dag, jeg aldrig ville glemme, men jeg svor også aldrig at bruge min personlige computer til skoleprojekter igen! <br />
            <br />

            Hilsen pigen der aldrig bruger egen computer til fremlæggelse igen. <br />
            <br />
          </p>
        </div>

        <div class="txtbox" id="korset">
          <h2>JEG ER MERE END BARE KORSET</h2>

          <p>
            Hej GirlTalk, jeg vil gerne dele min historie med jer. Jeg var 13 år gammel, og det var en sommeraften, hvor jeg havde tilbragt hele dagen til et håndboldstævne. Min krop føltes øm og træt efter en lang dag. Min far tilbød at give mig en massage for at lindre smerterne. Men da han smurte creme på min ryg, lagde han mærke til, at noget ikke så rigtigt ud. <br />
            <br />

            Dagen efter tog min far kontakt til lægen, og vi fik en hurtig tid. Lægen bekræftede, at min ryg så skæv ud. Der blev bestilt nogle scanninger på hospitalet, som jeg skulle igennem. Efter undersøgelserne kom lægerne frem til, at jeg havde skoliose. <br />
            <br />

            Dette betyder i korte træk, at mit skelet vokser skævt. Jeg kunne enten lære at leve med det, eller gennemgå en farlig operation. I perioden efterfølgende opstod der hele tiden tanker i mit hoved. Jeg var bange for, at se anerledes ud. <br />
            <br />

            Det føltes som om min verden brød sammen. Tanker som "er jeg god nok?", "vil folk stadig være mine venner?", "hvad tænker andre om mig?", "ser jeg grim ud?" fyldte mine tanker dagligt. Jeg blev udstyret med et stort korset, der skulle hjælpe med at rette min ryg og forhindre yderligere skævhed. <br />
            <br />

            Da vi skulle på lejrtur i 8. klasse, skulle jeg have korsettet med. Jeg følte mig så anderledes; mens de andre fra klassen løb rundt om natten og morede sig, lå jeg alene i min køje, bange for at nogen skulle opdage mit korset. Jeg følte mig udenfor og besværlig. <br />
            <br />

            Idag er det bare noget jeg kan grine af. Jeg vil ovenikøbet vove, at påstå at det har gjort min selvironi bedre. Jeg indså, at det bare var mig der overtænkte og at alle holdt af mig, præcis som jeg var. Det var noget, jeg måtte lære at acceptere og leve med. <br />
            <br />

            Hilsen den pige, der lærte at elske sig selv, og sit korset. <br />
            <br />
          </p>
        </div>
        <div class="txtbox" id="rundbold">
          <h2>RUNDBOLD-KATASTROFEN</h2>

          <p>
            Hej GirlTalk, her kommer min pinlige historie.. Jeg havde brugt hele morgenen på at vælge det perfekte outfit. Min sølvfarvede top matchede mine nye jeans perfekt, og jeg følte mig virkelig godt tilpas. Hvorfor skulle jeg også forelske mig i William? Selvfølgelig skulle jeg se godt ud, selv til rundbold. <br />
            <br />

            Da rundboldspillet begyndte, blev jeg fanget mellem nervøsitet og spænding. Mine øjne var låst på William, der stod på den anden side af banen. Hans charmerende smil fik mit hjerte til at slå hurtigere. <br />
            <br />

            Pludselig var det min tur til at gribe bolden. Jeg fokuserede på den gule bold, der fløj gennem luften mod mig. Men lige da jeg var ved at gribe den, ramte et uventet skub mig bagfra. Jeg mistede balancen og faldt ned i en akavet position på græsset. <br />
            <br />

            Der fulgte et øjeblik af stilhed, før latteren brød løs. Jeg rejste mig op, rød i hovedet af flovhed. Jeg forsøgte at ignorere de spottende kommentarer og så mod William, der så ud til at være den eneste, der ikke grinede. <br />
            <br />
            Men da jeg mødte hans blik, sank mit hjerte. Han stirrede ikke på mig med flirtende øjne; han kiggede ned af mig. Langsomt vendte jeg mig om og opdagede til min skræk, at min top var faldet ned, og min barm var blottet for alle at se. <br />
            <br />

            Panikken greb fat i mig, og jeg trak hurtigt min top op, mens varmen spredte sig i mine kinder. Alle øjne var stadig rettet mod mig, men denne gang var det ikke grin; det var ren forundring. <br />
            <br />

            Jeg ønskede, at jorden ville åbne sig og sluge mig. Aldrig havde jeg følt mig så pinligt berørt. Og da jeg vendte mig mod William igen, kunne jeg se, at han kæmpede for at undertrykke et smil. <br />
            <br />

            Efter et par dage modtog jeg en besked fra William, at jeg tog det cool, og at jeg skulle huske at grine af det og ikke være ked af situationen. <br />
            <br />
            ydmygelsen gik over, og det var blot starten på en af de historier, vi griner af sammen i dag, da William og jeg blev kærester efterfølgende. <br />
            <br />

            Hilsen pigen der fremover vælger praktisk tøj, når der skal spilles rundbold <br />
            <br />
          </p>
        </div>

        <div class="txtbox" id="rejse">
          <h2>MIN REJSE MOD LYSET</h2>
          <p>
            Hej GirlTalk, jeg vil gerne dele min historie med jer. Jeg var altid den livlige og glade pige i min vennegruppe. Men pludselig begyndte mine dage at blive fyldt med en uforklarlig tristhed. Selv når jeg var omgivet af venner og familie, følte jeg mig konstant nedtrykt. Smilet på mine læber blev sværere at opretholde, og jeg begyndte at trække mig tilbage fra aktiviteter, jeg engang elskede. <br />
            <br />

            Mine venner bemærkede forandringerne og begyndte at bekymre sig. Jeg forsøgte at skjule min smerte, men min indre kamp blev mere og mere uudholdelig. Jeg følte mig fanget i en mørk tåge uden håb om at finde vej ud. <br />
            <br />

            En dag tog en af mine nærmeste veninder mod til sig og spurgte mig, hvordan jeg virkelig havde det. Med tårer i øjnene åbnede jeg op omkring min kamp med min mentale sundhed. Jeg var bange for, at mine venner ikke ville forstå eller ville dømme mig. <br />
            <br />
            Men i stedet for dømmende blikke mødte jeg empati og støtte. Mine venner lyttede uden at dømme og tilbød mig deres ubetingede støtte. De opmuntrede mig til at søge professionel hjælp og til at tage skridt hen imod bedring. <br />
            <br />

            Med støtte fra mine venner og familie begyndte jeg min rejse mod bedring. Jeg lærte at søge professionel rådgivning og terapi, og jeg opdagede, at det var okay at bede om hjælp. Langsomt begyndte lyset at vende tilbage til mit liv. Jeg fandt glæde i små øjeblikke igen og begyndte at genopbygge forbindelser med dem omkring mig. <br />
            <br />

            Efterhånden som dagene gik, fandt jeg mig selv på vej mod bedre mentalt helbred. Jeg indså, at det at åbne mig om mine følelser og søge støtte ikke var tegn på svaghed, men snarere tegn på styrke og mod. <br />
            <br />

            I dag har jeg stadig mine udfordringer, men jeg ved, at jeg ikke er alene. Jeg har et stærkt støttenetværk omkring mig og værktøjer til at håndtere min mentale sundhed. Min historie er et bevis på, at der altid er håb og lysere dage for dem, der tør at søge hjælp. <br />
            <br />

            Hilsen pigen der altid vil anbefalde alle at søge om hjælp <br />
            <br />
          </p>
        </div>
      </section>

      <section class="scrollbox">
        <h2 class="harduenhistorie">HAR DU EN HISTORIE?</h2>
        <h3 class="senddentilos">SEND DEN TIL OS!</h3>

        <div class="knap">
          <p>KLIK HER</p>
        </div>

        <div class="chat_img">
          <img src="/public/toserne.png" alt="toserne" />
        </div>
        <h2 class="chatmedos">CHAT MED OS</h2>
        <p class="chat_tekst">GirlTalks chatrådgivning er for dig mellem 12 og 24 år. Du kan chatte med vores ungerådgivere hver aften eller sende en sms til os hele døgnet. Du er altid anonym og kan trygt dele dine tanker med os. Vi glæder os til at skrive med dig</p>

        <div class="knap">
          <p>CHAT</p>
        </div>
      </section>

      <button id="scroll_to_top"><img src="/public/blaa_pil_op.svg" alt="pil op" class="pil_op" /></button>

      <script>
        const scrollbox = document.querySelectorAll(".scroll_animation");
        const scrollbox2 = document.querySelectorAll(".scroll_animation_2");

        window.addEventListener("scroll", animation);

        function animation() {
          const triggerBottom = window.innerHeight;

          scrollbox.forEach((box) => {
            const boxTop = box.getBoundingClientRect().top;
            const boxBottom = box.getBoundingClientRect().bottom;
            const boxHeight = box.getBoundingClientRect().height;
            console.log({ box, boxTop });

            if (boxTop < triggerBottom && boxTop > -boxHeight) {
              //tilføj class til fade in
              console.log("animation start");
              box.classList.add("fade_in");
            }
            if (boxBottom < 100 || boxTop > triggerBottom) {
              console.log("animation fjern");
              box.classList.remove("fade_in");
            }
          });

          scrollbox2.forEach((box) => {
            const boxTop = box.getBoundingClientRect().top;
            const boxBottom = box.getBoundingClientRect().bottom;
            const boxHeight = box.getBoundingClientRect().height;
            console.log({ box, boxTop });

            if (boxTop < triggerBottom && boxTop > -boxHeight) {
              //tilføj class til fade in
              console.log("animation start");
            }
            if (boxBottom < 100 || boxTop > triggerBottom) {
              console.log("animation fjern");
            }
          });

          // const sectionHeader = document.querySelectorAll(".section_header");

          // sectionHeader.forEach((header) => {
          //   const headerTop = sectionHeader.getBoundingClientRect().top;
          //   const scrollTop = document.documentElement.scrollTop;

          //   if (headerTop < scrollTop) {
          //     header.classList.add("fixed");
          //   }
          // });
        }

        window.onscroll = function () {
          scrollFunction();
        };

        function scrollFunction() {
          if (document.documentElement.scrollTop > 500) {
            document.querySelector("#scroll_to_top").style.display = "block";
          } else {
            document.querySelector("#scroll_to_top").style.display = "none";
          }
        }

        document.querySelector("#scroll_to_top").addEventListener("click", scrollToTop);
        function scrollToTop() {
          document.documentElement.scrollTop = 0;
        }
      </script>
    </main>
  </body>

  <style></style>
</html>
