---
import HojreTease from "../components/HojreTease.astro";
import VenstreTease from "../components/VenstreTease.astro";
import Quiz from "../components/Quiz.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/tfd8zna.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <main class="grid">
      <div class="hero">
        <h1>BREVKASSEN</h1>
        <img src="/public/hjerte.svg" alt="svg" />
      </div>

      <div class="girltalk_illustration"><img src="/public/girltalk.svg" alt="svg" /></div>

      <div class="girls">
        <div class="girl">
          <img src="/public/girl.svg" alt="svg" />
        </div>

        <div class="girly">
          <img src="/public/girl2.svg" alt="svg" />
        </div>
      </div>
      <section class="detsketebareikke scrollbox">
        <h2 class="h2_detsketebareikke section_header">DET SKETE BARE IKKE...</h2>
        <VenstreTease header="DET GIK HELT BANANAS" quote="JEG VILLE BARE IMPONERE HAM" />
        <Quiz question="I hvilken alder får piger i gennemsnit deres seksuelle debut?" optioncorrect="16" option2="20" option3="14" answercorrect="Ja! Gennemsnitsalderen er 16 -17 år. Det er dog rigtig vigtigt først at gøre det, når man er klar - ellers bliver det en øv oplevelse for alle parter!" answerwrong="Det rigtige svar er 16 -17 år. Det er dog rigtig vigtigt først at gøre det, når man er klar - ellers bliver det en øv oplevelse for alle parter!" />
        <HojreTease header="KNÆK OG BRÆK" quote="HELE KLASSEN BRØD UD I LATTER" />
        <Quiz question="Hvor mange selfies tager piger i gennemsnit for at få “det rigtige look”?" optioncorrect="14" option2="20" option3="16" answercorrect="Ja! En undersøgelse viser, at piger i gennemsnit tager 14 selfies for at få det pefekte look. Jo flere jo bedre ;)" answerwrong="Det rigtige svar er 14. Jo flere jo bedre ;)" />
        <VenstreTease header="RUNDBOLDS KASTASTROFEN" quote="HAN KIGGEDE NED AF MIG" />
        <Quiz question="I hvilken alder begynder brysterne gennemsnitligt at vokse hos piger?" optioncorrect="10" option2="17" option3="20" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." />
      </section>

      <section class="duerikkealene scrollbox">
        <h2 class="h2_detsketebareikke section_header">DU ER IKKE ALENE</h2>
        <VenstreTease header="SANDHED OG FØLELSER" quote="DE HAVDE MISFORSTÅET MIN TILBAGHOLDENHED SOM EN AFVISNING" />
        <Quiz question="Hvor stor en procentdel har på et tidspunkt følt sig udenfor?" optioncorrect="69" option2="20" option3="35" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." />
        <VenstreTease header="MERE END BARE ET KORSET" quote="DET FØLTES SOM OM MIN VERDEN BRØD SAMMEN" />
        <Quiz question="Hvor stor en procentdel af piger har oplevet lavt selvværd?" optioncorrect="20" option2="50" option3="40" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." />
        <VenstreTease header="MIN REJSE MOD LYSET" quote="JEG FORSØGTE AT SKJULE MIN SMERTE, MEN MIN INDRE KAMP BLEV MERE OG MERE UUDHOLDELIG" />
        <Quiz question="Hvor stor en procentdel af kvinder mellem 16 til 24 år har et dårligt mentalthelbred??" optioncorrect="20" option2="41" option3="34" answercorrect="Ja! Pigers bryster begynder i gennemsnit at vokse i 10 årsalderen." answerwrong="Det rigtige svar er i 10 årsalderen." />
      </section>
      <section class="historier scrollbox">
        <h1>historier</h1>
      </section>

      <section class="scrollbox">
        <h2 class="harduenhistorie">HAR DU EN HISTORIE?</h2>
        <h3 class="senddentilos">SEND DEN TIL OS!</h3>

        <div class="knap">
          <p>KLIK HER</p>
        </div>

        <div class="chat_img">
          <img src="/public/toserne.png" alt="toserne" />
        </div>
        <h2 class="chatmedos">CHAT MED OS</h2>
        <p class="chat_tekst">GirlTalks chatrådgivning er for dig mellem 12 og 24 år. Du kan chatte med vores ungerådgivere hver aften eller sende en sms til os hele døgnet. Du er altid anonym og kan trygt dele dine tanker med os. Vi glæder os til at skrive med dig</p>

        <div class="knap">
          <p>CHAT</p>
        </div>
      </section>
    </main>

    <script>
      const scrollbox = document.querySelectorAll(".scrollbox");

      window.addEventListener("scroll", animation);

      function animation() {
        const triggerBottom = window.innerHeight;

        scrollbox.forEach((box) => {
          const boxTop = box.getBoundingClientRect().top;
          const boxBottom = box.getBoundingClientRect().bottom;
          const boxHeight = box.getBoundingClientRect().height;
          console.log({ box, boxTop });

          if (boxTop < triggerBottom && boxTop > -boxHeight) {
            //tilføj class til fade in
            console.log("animation start");
          }
          if (boxBottom < 100 || boxTop > triggerBottom) {
            console.log("animation fjern");
          }
        });
      }
    </script>
  </body>
</html>

<style></style>
