---
import TxtBox from "../components/TxtBox.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/tfd8zna.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <TxtBox header="KNÆK OG BRÆK" tekst="Hej GirlTalk, her kommer min pinlige historie. Det var den store dag i skolen, hvor vi skulle præsentere vores gruppeprojekt for hele klassen. Jeg havde arbejdet hårdt på mine slides, og jeg var klar til at imponere. Men som altid, når der er noget vigtigt på spil, sker der altid noget uheldigt. Jeg stod foran klassen med min gruppe og begyndte at starte præsentationen. Alt gik fint, indtil vi nåede til et af mine slides. Jeg havde lavet et sjovt billede for at bryde isen, men det var ikke det billede, jeg havde i tankerne. Da jeg klikkede for at vise billedet, poppede i stedet et meget personligt foto op på skærmen. Det var et billede af mig der brækker mig i en hæk i forbindelse med en fest, jeg havde været til weekenden forinden. Hele klassen brød ud i latter, og jeg kunne mærke varmen stige op i mit ansigt. Jeg forsøgte desperat at klikke væk fra billedet, men min computer var gået i baglås. Mine klassekammerater grinede og pegede. Til sidst måtte min lærer træde til og hjælpe mig med at få skærmen tilbage til den rigtige præsentation. Jeg fortsatte præsentationen så godt jeg kunne, men jeg var helt rød i hovedet og kunne ikke se mine klassekammerater i øjnene. Efter præsentationen skyndte jeg mig ud af lokalet og gik hjem med den værste følelse af pinlighed. Det var en dag, jeg aldrig ville glemme, men jeg svor også aldrig at bruge min personlige computer til skoleprojekter igen! Hilsen pigen der aldrig bruger egen computer til fremlæggelse igen." /> 
    </body>
</html>
