---
import VenstreTease from "../components/VenstreTease.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/css/styles.css" />
    <link rel="stylesheet" href="https://use.typekit.net/tfd8zna.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <main>

  <div class="hero">
 <h1>BREVKASSEN</h1>
 <img src="/public/hjerte.svg" alt="svg">
 </div>

  <div class="girltalk_illustration"><img src="/public/girltalk.svg" alt="svg"></div>

  <div class="girls">
  <div class="girl">
    <img src="/public/girl.svg" alt="svg">
  </div>
 
   <div class="girly">
    <img src="/public/girl2.svg" alt="svg">
  </div>
   </div>
 
 <h2 class="h2_detsketebareikke">DET SKETE BARE IKKE...</h2>

 <h2 class="h2_detsketebareikke">DU ER IKKE ALENE</h2>
    </main>


<h2 class="harduenhistorie">HAR DU EN HISTORIE?</h2>
<h3 class="senddentilos">SEND DEN TIL OS!</h3>


<div class="knap">
  <p>KLIK HER</p>
</div>

<div class="chat_img">
<img src="/public/toserne.png" alt="toserne">
</div>
<h2 class="chatmedos">CHAT MED OS</h2>
<p class="chat_tekst">GirlTalks chatrådgivning er for dig mellem 12 og 24 år. Du kan chatte med vores ungerådgivere hver aften eller sende en sms til os hele døgnet. Du er altid anonym og kan trygt dele dine tanker med os.
Vi glæder os til at skrive med dig</p>

<div class="knap">
  <p>CHAT</p>
</div>

 </body>
</html>
