* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: var(--primary-background-color);
}

img {
  display: block;
  height: auto;
  width: 100%;
}

:root {
  --primary-background-color: #f7c7d9;
  --accent-color: #fff5eb;
  --headline-color: #273aaa;
  --headline-shadow-color: #fc4d5c;
  --text-color: #1d1d1b;
  --second-headline-shadow-color: #d1ecef;
}

h1 {
  color: var(--headline-shadow-color);
  font-family: "obviously", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  color: var(--headline-color);
  font-family: "obviously", sans-serif;
  font-weight: 700;
}

h3 {
  color: var(--headline-shadow-color);
  font-family: "obviously", sans-serif;
  font-weight: 700;
}

p {
  color: var(--text-color);

  font-family: "Archivo", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.hero {
  display: flex;
  flex-wrap: wrap;
}

.hero img {
  width: 50px;
  height: auto;
}

.girltalk_illu {
  width: 400px;
  margin-left: 1rem;
}

.girls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 5rem;
}

.girl {
  width: 30%;
  grid-area: 1 / 3 / 5 / 8;
}

.girly {
  width: 70%;
  grid-area: 2 / 2 / 4 / 3;
}
.h2_detsketebareikke {
  text-shadow: 3px 3px 4px #fc4d5c;
  text-align: center;
  margin-top: 100px;
}

.harduenhistorie {
  text-align: center;
}
.senddentilos {
  text-align: center;
}
.knap {
  border-radius: 2rem;
  background-color: var(--accent-color);
  width: 10rem;
  padding: 1rem;
  align-items: center;
  margin: 2rem auto;
}
.knap p {
  font-weight: bold;
  font-weight: 800;
  text-align: center;
}

.chatmedos {
  text-align: center;
  margin-top: 3rem;
}

.chat_img {
  width: 50%;
  height: auto;
  align-items: center;
  margin: auto;
}
.chat_tekst {
  max-width: 45ch;
  margin: auto;
  line-height: 0.5cm;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.txtbox {
  background-color: rgb(255, 245, 235);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  max-width: 500px;
}

.txtbox h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.quiz {
  margin-bottom: 10rem;
}

.detsketebareikke {
  background-image: url("/baggrund_1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
.duerikkealene {
  background-image: url("/baggrund_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
.historier {
  background-image: url("/baggrund_3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.section_header {
  margin-bottom: 7rem;
}

.scrollbox {
  position: relative;
}

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll_to_top {
  display: none;
  position: fixed;
  top: 81%;
  left: 90%;
  background-color: white;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Archivo", sans-serif;
  z-index: 2000;
  opacity: 0.8;
}

.pil_op {
  width: 27px;
  padding-right: 8px;
  padding-bottom: 5px;
}

@media (min-width: 800px) {
  #scroll_to_top {
    display: none;
    position: fixed;
    top: 81%;
    left: 86%;
    background-color: white;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Archivo", sans-serif;
    z-index: 2000;
    opacity: 0.8;
  }

  .pil_op {
    width: 44px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
}

/* ANIMATIONER */

.scroll_animation {
  opacity: 0;
  transition: 1.2s;
}

.fade_in {
  opacity: 1;
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes pulse_kf {
  100% {
    scale: 110%;
  }
}
